<div id="footer" class="site-footer mt-5">
	<div class="mt-3">
		<div class="row d-flex">

			<div class="col-sm-6">
				<p class="font-weight-bold">{{ site.author }}</p>

				<ul class="list-unstyled list-inline">
					<li class="list-inline-item">
						<a href="https://iitk.ac.in">
							<img class="img-fluid" src="/assets/images/iitk_logo.png" style="max-height: 80px;">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://kuleuven.be">
							<img class="img-fluid" src="/assets/images/logo_ku.svg" style="max-height: 80px;">
						</a>
					</li>
			</div>

			<div class="col-sm-3">
				<p class="font-weight-bold">Links</p>
				<ul class="list-unstyled">
					<li><a href="https://twitter.com/madhavlab" target="_blank">Twitter</a></li>
                    <li><a href="https://linkedin.com/company/madhav-lab" target="_blank">LinkedIn</a></li>
					<li><a href="https://github.com/madhavlab" target="_blank">Github</a></li>
				</ul>
			</div>

			<div class="col-sm-3">
				<p class="font-weight-bold">Contact</p>
				ESAT-PSI, <br>
				Kasteelpark Arenberg 10, <br>
				KU Leuven, Leuven - 3000 <br>
			</div>
		</div>

		<div class="footer-copyright text-center py-3">
			© 2023 {{ site.title }}
		</div>
	</div>
</div>
